{% extends "layout.html" %}
{% block content%}
<style>
    .user-profile .up-main-info .user-avatar-w .user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 3px solid #fff;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
</style>
<div class="content-i">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-7">
                <div class="element-wrapper">
                    <div class="element-box">
                        <form method="POST" action=""  enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <legend><span>Personal Information</span></legend>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.fname.label(class="form-control-label")}}
                                        {% if form.fname.errors %}
                                            {{ form.fname(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.fname.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.fname(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.mname.label(class="form-control-label")}}
                                        {% if form.mname.errors %}
                                            {{ form.mname(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.mname.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.mname(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.lname.label(class="form-control-label")}}
                                        {% if form.lname.errors %}
                                            {{ form.lname(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.lname.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.lname(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{form.dob.label(class="form-control-label")}}
                                        {% if form.dob.errors %}
                                            {{ form.dob(class="form-control is-invalid", type="date") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.dob.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.dob(class="form-control", type="date") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    {{form.phone_no.label(class="form-control-label")}}
                                        {% if form.phone_no.errors %}
                                            {{ form.phone_no(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.phone_no.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.phone_no(class="form-control") }}
                                        {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Profile Image</label>
                                    <div class="input-group">
                                      <div class="custom-file">
                                          {{ form.profile_img.label(class="custom-file-label", for="inputGroupFile02") }}
                                            {{ form.profile_img( class="custom-file-input", id="inputGroupFile02") }}
                                            {% if form.profile_img.errors %}
                                                {% for error in form.profile_img.errors %}
                                                    <span class="text-danger">{{ error }}</span></br>
                                                {% endfor %}
                                            {% endif %}
                                      </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    {{form.email.label(class="form-control-label")}}
                                        {% if form.email.errors %}
                                            {{ form.email(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.email(class="form-control") }}
                                        {% endif %}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.linkedin_link.label(class="form-control-label")}}
                                        {% if form.linkedin_link.errors %}
                                            {{ form.linkedin_link(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.linkedin_link.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.linkedin_link(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.instagram_link.label(class="form-control-label")}}
                                        {% if form.instagram_link.errors %}
                                            {{ form.instagram_link(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.instagram_link.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.instagram_link(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.facebook_link.label(class="form-control-label")}}
                                        {% if form.facebook_link.errors %}
                                            {{ form.facebook_link(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.facebook_link.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.facebook_link(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <legend class="mt-5"><span>Institution Information</span></legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{form.institution_name.label(class="form-control-label")}}
                                        {% if form.institution_name.errors %}
                                            {{ form.institution_name(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.college_name.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.institution_name(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{form.institution_email.label(class="form-control-label")}}
                                        {% if form.institution_email.errors %}
                                            {{ form.institution_email(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.institution_email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.institution_email(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Institution Logo</label>
                                    <div class="input-group">
                                      <div class="custom-file">
                                          {{ form.institution_logo.label(class="custom-file-label", for="inputGroupFile02") }}
                                            {{ form.institution_logo( class="custom-file-input", id="inputGroupFile02") }}
                                            {% if form.institution_logo.errors %}
                                                {% for error in form.institution_logo.errors %}
                                                    <span class="text-danger">{{ error }}</span></br>
                                                {% endfor %}
                                            {% endif %}
                                      </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{form.status.label(class="form-control-label")}}
                                        {% if form.status.errors %}
                                            {{ form.status(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.status.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.status(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{form.institution_address.label(class="form-control-label")}}
                                        {% if form.institution_address.errors %}
                                            {{ form.institution_address(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.institution_address.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.institution_address(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{form.institution_website_link.label(class="form-control-label")}}
                                        {% if form.institution_website_link.errors %}
                                            {{ form.institution_website_link(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.institution_website_link.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.institution_website_link(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                            <div class="form-buttons-w">{{form.submit(class="btn btn-primary")}}</div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="user-profile compact">
                    <div class="up-head-w" style="background-image: url({{url_for('static', filename='profile_pics/' + current_user.institution_logo)}})">
                        <div class="up-social">
                            <a href="{{current_user.facebook_link}}"><i class="os-icon picons-social-icon-facebook"></i></a>
                            <a href="{{current_user.instagram_link}}"><i class="os-icon os-icon-instagram"></i></a>
                            <a href="{{current_user.linkedin_link}}"><i class="os-icon picons-social-icon-linkedin"></i></a>
                            <a href="{{current_user.institution_website_link}}"><i class="os-icon os-icon-globe"></i></a>
                        </div>
                        <div class="up-main-info">
                            <div class="user-avatar-w">
                                <div class="user-avatar">
                                    <img alt="" src="{{url_for('static', filename='profile_pics/' + current_user.profile_img)}}" />
                                </div>
                            </div>
                        </div>
                        <div class="up-main-info">
                            <h2 class="up-header">{{current_user.fname}} {{current_user.lname}}</h2>
                            <h6 class="up-sub-header">
                                {{current_user.status}}
                            </h6>
                        </div>
                        <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219"
                            preserveAspectRatio="xMaxYMax meet" version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
                                <path class="decor-path"
                                    d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z">
                                </path>
                            </g>
                        </svg>
                    </div>
                    <div class="up-controls">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="value-pair">
                                    <div class="label">Status:</div>
                                    <div class="value badge badge-pill badge-success">
                                        Online
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a class="btn btn-primary btn-sm" href="#"><i
                                        class="os-icon os-icon-link-3"></i><span>View Profile</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="up-contents">
                        <div class="m-b">
                            <div class="row m-b">
                                <div class="col-sm-6 b-r b-b">
                                    <div class="el-tablo centered padded-v">
                                        <div class="value">2</div>
                                        <div class="label">Students</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 b-b">
                                    <div class="el-tablo centered padded-v">
                                        <div class="value">3</div>
                                        <div class="label">Subjects</div>
                                    </div>
                                </div>
                            </div>
                            <div class="padded">
                                <div class="os-progress-bar primary">
                                    <div class="bar-labels">
                                        <div class="bar-label-left">
                                            <span>Profile Completion</span><span
                                                class="positive">+10</span>
                                        </div>
                                        <div class="bar-label-right">
                                            <span class="info">72/100</span>
                                        </div>
                                    </div>
                                    <div class="bar-level-1" style="width: 100%">
                                        <div class="bar-level-2" style="width: 80%">
                                            <div class="bar-level-3" style="width: 30%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="os-progress-bar primary">
                                    <div class="bar-labels">
                                        <div class="bar-label-left">
                                            <span>Status Unlocked</span><span class="positive">+5</span>
                                        </div>
                                        <div class="bar-label-right">
                                            <span class="info">45/100</span>
                                        </div>
                                    </div>
                                    <div class="bar-level-1" style="width: 100%">
                                        <div class="bar-level-2" style="width: 30%">
                                            <div class="bar-level-3" style="width: 10%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="os-progress-bar primary">
                                    <div class="bar-labels">
                                        <div class="bar-label-left">
                                            <span>Followers</span><span class="negative">-12</span>
                                        </div>
                                        <div class="bar-label-right">
                                            <span class="info">74/100</span>
                                        </div>
                                    </div>
                                    <div class="bar-level-1" style="width: 100%">
                                        <div class="bar-level-2" style="width: 80%">
                                            <div class="bar-level-3" style="width: 60%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
