{% extends "layout.html" %}
{% block content%}
<style>
    .user-profile .up-main-info .user-avatar-w .user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 3px solid #fff;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
</style>
<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <div class="user-profile">
                <div class="up-head-w" style="background-image: url({{url_for('static', filename='profile_pics/' + current_user.institution_logo)}})">
                    <div class="up-social">
                        {% if a %}
                        <a href="{{current_user.facebook_link}}"><i class="os-icon picons-social-icon-facebook"></i></a>
                        <a href="{{current_user.instagram_link}}"><i class="os-icon os-icon-instagram"></i></a>
                        <a href="{{current_user.linkedin_link}}"><i class="os-icon picons-social-icon-linkedin"></i></a>
                        <a href="{{current_user.institution_website_link}}"><i class="os-icon os-icon-globe"></i></a>
                        {% endif%}
                    </div>
                    <div class="up-main-info">
                        <div class="user-avatar-w">
                            <div class="user-avatar">
                                {% if a %}
                                <img alt="" src="{{url_for('static', filename='profile_pics/' + current_user.profile_img)}}" />
                                {% else %}
                                <img alt="" src="{{url_for('static', filename='profile_pics/' + student.profile_img)}}" />
                                {%endif%}
                            </div>
                        </div>
                        {%if a%}
                        <h1 class="up-header">{{current_user.fname}} {{current_user.lname}}</h1>
                        <h5 class="up-sub-header">{{current_user.status}}</h5>
                        {%else%}
                        <h1 class="up-header">{{student.fname}} {{student.lname}}</h1>
                        <h5 class="up-sub-header">Student | {{student.standard}} Standard</h5>
                        {%endif%}

                    </div>
                    <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219"
                        preserveAspectRatio="xMaxYMax meet" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
                            <path class="decor-path"
                                d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z">
                            </path>
                        </g>
                    </svg>
                </div>
                <div class="up-controls">
                    <div class="row">
                        <div class="col-lg-4">
                            {%if a %}
                            <div class="value-pair">
                                <div class="label">Status:</div>
                                <div class="value badge badge-pill badge-success">
                                    Online
                                </div>
                            </div>
                            {%endif%}
                            {% if a %}
                            <div class="value-pair">
                                <div class="label">Member Since:</div>
                                <div class="value">{{current_user.date_created.strftime('%Y-%m-%d')}}</div>
                            </div>
                            {%else%}
                            <div class="value-pair">
                                <div class="label">Added On:</div>
                                <div class="value">{{student.date_created.strftime('%Y-%m-%d')}}</div>
                            </div>
                            {%endif%}

                        </div>
                        <div class="col-lg-8 text-right">
                            {% if a %}
                            <a class="btn btn-primary btn-sm" href="{{url_for('account_update')}}"><i
                                    class="os-icon os-icon-link-3"></i><span>Update Account</span></a>
                            {%else%}
                            {%if que%}
                                <a class="btn btn-secondary btn-sm" href="{{url_for('general_question_update', question_id=que.id)}}"><i
                                    class="os-icon os-icon-link-3"></i><span>Update Student Details</span></a>
                            {%else%}
                                <a class="btn btn-secondary btn-sm" href="{{url_for('general_question', student_id=student.id)}}"><i
                                    class="os-icon os-icon-link-3"></i><span>Add Student Details</span></a>
                            {%endif%}
                                {%if exams.count() != 0%}
                                    <a class="btn btn-success btn-sm" href="{{url_for('exam_view', student_id=student.id)}}"><i
                                            class="os-icon os-icon-edit-32"></i><span>All Exams view</span></a>
                                {%else%}
                                    <a class="btn btn-success btn-sm" style="color:#fff" data-placement="top" data-toggle="tooltip" data-original-title="Add Exam For Student First">
                                        <i class="os-icon os-icon-edit-32"></i><span>All Exams view</span></a>
                                {%endif%}
                            <a class="btn btn-primary btn-sm" href="{{url_for('student_update', student_id=student.id)}}"><i
                                    class="os-icon os-icon-link-3"></i><span>Update Student</span></a>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="up-contents">
                    <div class="row">
                    <div class="col-4">
                        <h5 class="element-header">Profile Information</h5>
                    </div>
                    <div class="col-8 text-right">
                        {%if a%}
                        {%elif student.standard == '6th'%}
                        <button class="mr-2 mb-2 btn btn-primary"
                                        data-target="#onboardingFeaturesModal" data-toggle="modal" type="button">Current Year Predictions</button>
                                    <div aria-hidden="true" class="onboarding-modal modal fade animated"
                                        id="onboardingFeaturesModal" role="dialog" tabindex="-1">
                                        <div class="modal-dialog modal-centered" role="document">
                                            <div class="modal-content text-center"><button aria-label="Close"
                                                    class="close" data-dismiss="modal" type="button"><span
                                                        class="close-label">Skip Intro</span><span
                                                        class="os-icon os-icon-close"></span></button>
                                                <div class="onboarding-media"><img alt="" src="{{url_for('static', filename='img/bigicon6.png')}}"
                                                        width="200px"></div>
                                                <div class="onboarding-content with-gradient">
                                                    <h4 class="onboarding-title">Showcase Your Future</h4>
                                                    <div class="onboarding-text">According to your past records we analysed that you should also look forward to this list
                                                        of activates in future for your better performance.</div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h4 class="text-left">Improvement List</h4>
                                                            <ul class="features-list">
                                                                {% if improvement_list%}
                                                                    {% for il in improvement_list%}
                                                                <li style="color:red;"><b>{{il}}</b></li>
                                                                    {%endfor%}
                                                                {%else%}
                                                                    <li>None</li>
                                                                {%endif%}
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h4 class="text-left">Carrier List</h4>
                                                            <ul class="features-list">
                                                                {% if future_list%}
                                                                    {% for fl in future_list%}
                                                                <li style="color:green"><b>{{fl}}</b></li>
                                                                    {%endfor%}
                                                                {%else%}
                                                                    <li>None</li>
                                                                {%endif%}
<!--                                                                <li>Developer Friendly </li>-->
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                        {%endif%}
                    </div>
                    </div>
                    <div class="os-tabs-w">

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_overview">
                                {% if a %}
                                <div class="timed-activities padded">
                                    <div class="timed-activity">
                                        <div class="ta-date">
                                            <span>Name</span>
                                        </div>
                                        <div class="ta-record-w">
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>First Name :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{current_user.fname}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Middle Name :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{current_user.mname}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Last Name : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{current_user.lname}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timed-activity">
                                        <div class="ta-date">
                                            <span>Personal</span>
                                        </div>
                                        <div class="ta-record-w">
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Email :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{current_user.email}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Phone NO. :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{current_user.phone_no}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Date Of Birth : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{current_user.dob}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Position : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{current_user.status}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timed-activity">
                                        <div class="ta-date">
                                            <span>Institution</span>
                                        </div>
                                        <div class="ta-record-w">
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Institution Name :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{current_user.institution_name}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Institution Email :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{current_user.institution_email}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Institution Address : </strong><br>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{current_user.institution_address}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Institution Website Link : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;<a href="{{current_user.institution_website_link}}">{{current_user.institution_website_link}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timed-activity">
                                        <div class="ta-date">
                                            <span>Social</span>
                                        </div>
                                        <div class="ta-record-w">
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Linkedin Link :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;<a href="{{current_user.linkedin_link}}">{{current_user.linkedin_link}}</a>
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Facebook Link :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;<a href="{{current_user.facebook_link}}">{{current_user.facebook_link}}</a>
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Instagram Link : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;<a href="{{current_user.instagram_link}}">{{current_user.instagram_link}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%else%}
                                <div class="timed-activities padded">
                                    <div class="timed-activity">
                                        <div class="ta-date">
                                            <span>Name</span>
                                        </div>
                                        <div class="ta-record-w">
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>First Name :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{student.fname}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Middle Name :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{student.father_name}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Last Name : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.lname}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timed-activity">
                                        <div class="ta-date">
                                            <span>Personal</span>
                                        </div>
                                        <div class="ta-record-w">
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Email :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{student.email}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Phone NO. :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{student.phone_no}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Date Of Birth : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.dob}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Roll No. : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.roll_no}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Local Address : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.l_address}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Postal Address : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.p_address}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timed-activity">
                                        <div class="ta-date">
                                            <span>Father Info</span>
                                        </div>
                                        <div class="ta-record-w">
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Father Name :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{student.father_name}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Father Occupation :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{student.father_occupation}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Father Income : </strong><br>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.father_income}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Father Phone No : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.father_phone_no}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timed-activity">
                                        <div class="ta-date">
                                            <span>Mother Info</span>
                                        </div>
                                        <div class="ta-record-w">
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Mother Name :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{student.mother_name}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Mother Occupation :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{student.mother_occupation}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Mother Income : </strong><br>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.mother_income}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Mother Phone No : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.mother_phone_no}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timed-activity">
                                        <div class="ta-date">
                                            <span>Other</span>
                                        </div>
                                        <div class="ta-record-w">
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Religion :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{student.religion}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Caste :</strong>
                                                </div>
                                                <div class="ta-activity">
                                                    &nbsp;{{student.caste}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Gender : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.gender}}
                                                </div>
                                            </div>
                                            <div class="ta-record">
                                                <div class="ta">
                                                    <strong>Blood Group : </strong>
                                                </div>
                                                <div class="ta-activity">
                                                     &nbsp;{{student.blood_group}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                            </div>
<!--                            <div class="tab-pane" id="tab_sales">-->
<!--                                <div class="el-tablo">-->
<!--                                    <div class="label">Unique Visitors</div>-->
<!--                                    <div class="value">12,537</div>-->
<!--                                </div>-->
<!--                                <div class="el-chart-w">-->
<!--                                    <canvas height="150px" id="lineChart" width="600px"></canvas>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="tab-pane" id="tab_conversion"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {%if a %}
        {%else%}
        <div class="element-wrapper">
            <h6 class="element-header">Add Game/Sports Details</h6>
            <div class="element-box">
                <h5 class="form-header">Add Your Interest in Game and Sports</h5>
                <form action="{{url_for('student_game', student_id=student.id)}}" method="POST" class="form-inline">
                    {{ sports.hidden_tag() }}
                    <div class="form-group">
                        {% if sports.name_of_sport.errors %}
                            {{ sports.name_of_sport(class="form-control is-invalid",placeholder="Name of Game or Sports") }}
                            <div class="invalid-feedback">
                                {% for error in sports.name_of_sport.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ sports.name_of_sport(class="form-control",placeholder="Name of Game or Sports") }}
                        {% endif %}
                    </div>
                    <div class="form-group ml-2">
                        {% if sports.level.errors %}
                            {{ sports.level(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in sports.level.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ sports.level(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group ml-2">
                        {% if sports.date_of_starting.errors %}
                            {{ sports.date_of_starting(class="form-control is-invalid",placeholder="Level you played for",type="date") }}
                            <div class="invalid-feedback">
                                {% for error in sports.date_of_starting.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ sports.date_of_starting(class="form-control",placeholder="Level you played for",type="date") }}
                        {% endif %}
                    </div>

                    <button class="btn btn-primary ml-2 " style="padding: 10px 50px" type="submit"> Submit</button>
                </form>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <h6 class="element-header">Games and Sports</h6>
                    <div class="element-box-tp">
                        <div class="table-responsive">
                            <table class="table table-padded">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th class="text-center">Level</th>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%for game in games%}
                                    <tr>
                                        <td class="text-center"><input class="form-control"
                                                type="checkbox"></td>
                                        <td><span>{{game.name_of_sport}}</span></td>
                                        <td><span>{{game.level}}</span></td>
                                        <td><span>{{game.date_of_starting}}</span></td>
                                        <td class="row-actions">
                                            <a class="danger" href="#" data-target="#onboardingTextModal{{game.id}}"
                                        data-toggle="modal"><i class="os-icon os-icon-ui-15"></i></a>
                                        </td>
                                    </tr>
                                    <div aria-hidden="true" class="onboarding-modal modal fade animated"
                                        id="onboardingTextModal{{game.id}}" role="dialog" tabindex="-1">
                                        <div class="modal-dialog modal-centered" role="document">
                                            <div class="modal-content text-center"><button aria-label="Close"
                                                    class="close" data-dismiss="modal" type="button"><span
                                                        class="close-label">Skip</span><span
                                                        class="os-icon os-icon-close"></span></button>
                                                <div class="onboarding-media"><img alt="" src="img/bigicon2.png"
                                                        width="200px"></div>
                                                <div class="onboarding-content with-gradient">
                                                    <h4 class="onboarding-title">Delete {{game.name_of_sport}}</h4>
                                                    <h5>Name : {{game.name_of_sport}}</h5>
                                                    <h5>Level : {{game.level}}</h5>
                                                    <h5>Date : {{game.date_of_starting}}</h5>
                                                    <div>
                                                        <a class="btn btn-danger btn-block btn-lg pb-3" href="{{url_for('delete_sport', game_id=game.id, student_id=student.id)}}" style="color:#fff"><i
                                                                            class="os-icon os-icon-ui-15" style="font-size: 25px;"></i><span>Delete Sport/Game</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
    {% if a %}
    {% include "history.html"%}
    {%else%}
<div class="content-panel compact color-scheme-dark">
        <div class="content-panel-close"><i class="os-icon os-icon-close"></i></div>
        <div class="element-wrapper">
            <div class="element-actions actions-only"><a class="element-action element-action-fold"
                    href="#"><i class="os-icon os-icon-minus-circle"></i></a></div>
            <h6 class="element-header">Add Exam For Student</h6>
            <div class="element-box-tp">
                <form action="{{url_for('student_details', student_id=student.id)}}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <div class="form-group">
                            {{form.subject.label(class="form-control-label")}}
                            {% if form.subject.errors %}
                                {{ form.subject(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.subject.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.subject(class="form-control") }}

                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{form.marks_opt.label(class="form-control-label")}}
                                {% if form.marks_opt.errors %}
                                    {{ form.marks_opt(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.marks_opt.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.marks_opt(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{form.institution_name.label(class="form-control-label")}}
                        {% if form.institution_name.errors %}
                            {{ form.institution_name(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.institution_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.institution_name(class="form-control") }}
                        {% endif %}
                    </div>
                    <div>
                    {{form.submit(class="btn btn-primary btn-block btn-lg")}}
                    </div><hr>
                </form>
                <div>
                    {%if exams.count() != 0%}
                    <button class="btn btn-danger btn-block btn-lg" data-target="#onboardingWideSlideModal"
                                    data-toggle="modal"><i
                                            class="os-icon os-icon-refresh-ccw"></i><span>Promote Student</span></button>
                    {%else%}
                    <button class="btn btn-danger btn-block btn-lg" data-placement="left" data-toggle="tooltip" data-original-title="Add Exam For Student First"><i
                                            class="os-icon os-icon-refresh-ccw"></i><span>Promote Student</span></button>
                    {%endif%}
                    </div>
                    <div aria-hidden="true" class="onboarding-modal modal fade animated"
                        id="onboardingWideSlideModal" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg modal-centered" role="document">
                            <div class="modal-content text-center"><button aria-label="Close" class="close"
                                    data-dismiss="modal" type="button"><span class="close-label">Skip
                                        </span><span class="os-icon os-icon-close"></span></button>
                                <div class="onboarding-slider-w">
                                    <div class="onboarding-slide">
                                        <div class="onboarding-side-by-side">
                                            <div class="onboarding-media"><img alt="" src="{{url_for('static', filename='profile_pics/' + student.profile_img)}}"
                                                    width="200px">
                                                <div><h5 class="mt-4">{{student.fname}} {{student.lname}}</h5></div>
                                            </div>
                                            <div class="onboarding-content with-gradient">
                                                <h4 class="onboarding-title">Request Student Promotion
                                                </h4>
                                                <div class="onboarding-text">If you think this student need to be promoted into next class, You must fill all the subject of {{student.standard}} standard or else the student wil be considered <b style="color:red">Fail</b> and the student should not have previous class backlog too.</div>
                                                <form>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group"><label>Current Standard</label><input class="form-control"
                                                                    placeholder="{{student.standard}}"
                                                                    value="" disabled></div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group"><label>Promote too</label>
                                                                {%if student.standard == '1st' %}
                                                                    <input class="form-control" placeholder="2nd Standard" value="" disabled>
                                                                {%elif student.standard == '2nd' %}
                                                                    <input class="form-control" placeholder="3rd Standard" value="" disabled>
                                                                {%elif student.standard == '3rd' %}
                                                                    <input class="form-control" placeholder="4th Standard" value="" disabled>
                                                                {%elif student.standard == '4th' %}
                                                                    <input class="form-control" placeholder="5th Standard" value="" disabled>
                                                                {%elif student.standard == '5th' %}
                                                                    <input class="form-control" placeholder="6th Standard" value="" disabled>
                                                                {%elif student.standard == '6th' %}
                                                                    <input class="form-control" placeholder="7th Standard" value="" disabled>
                                                                {%elif student.standard == '7th' %}
                                                                    <input class="form-control" placeholder="8th Standard" value="" disabled>
                                                                {%elif student.standard == '8th' %}
                                                                    <input class="form-control" placeholder="9th Standard" value="" disabled>
                                                                {%elif student.standard == '9th' %}
                                                                    <input class="form-control" placeholder="10th Standard" value="" disabled>
                                                                {%endif%}

                                                            </div>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <div class="onboarding-slide">-->
<!--                                        <div class="onboarding-side-by-side">-->
<!--                                            <div class="onboarding-media"><img alt="" src="{{url_for('static', filename='profile_pics/' + current_user.institution_logo)}}"-->
<!--                                                    width="200px"></div>-->
<!--                                            <div class="onboarding-content with-gradient">-->
<!--                                                <h4 class="onboarding-title">Showcase App Features</h4>-->
<!--                                                <div class="onboarding-text">In this example you can-->
<!--                                                    showcase some of the features of your application, it is-->
<!--                                                    very handy to make new users aware of your hidden-->
<!--                                                    features. You can use boostrap columns to split them up.-->
<!--                                                </div>-->
<!--                                                <div class="row">-->
<!--                                                    <div class="col-sm-6">-->
<!--                                                        <ul class="features-list">-->
<!--                                                            <li>Fully Responsive design</li>-->
<!--                                                            <li>Pre-built app layouts</li>-->
<!--                                                            <li>Incredible Flexibility</li>-->
<!--                                                        </ul>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-sm-6">-->
<!--                                                        <ul class="features-list">-->
<!--                                                            <li>Boxed & Full Layouts</li>-->
<!--                                                            <li>Based on Bootstrap 4</li>-->
<!--                                                            <li>Developer Friendly </li>-->
<!--                                                        </ul>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="onboarding-slide">
                                        <div class="onboarding-side-by-side">
                                            <div class="onboarding-media"><img alt="" src="{{url_for('static', filename='profile_pics/' + current_user.institution_logo)}}"
                                                    width="200px"></div>
                                            <div class="onboarding-content with-gradient">
                                                <h4 class="onboarding-title">Request Student Promotion
                                                </h4>
                                                <div class="onboarding-text">If you think everything is good to go then click on <b style="color:#fff">Promote Student</b> else click on <b style="color:#fff">Skip</b> to skip out.
                                                </div>
                                                <div>
                                                    <form method="POST" action="">
                                                        {{ promote.hidden_tag() }}
                                                        {{promote.submit(class="btn btn-danger btn-block btn-lg pb-3")}}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="element-wrapper compact">
            <div class="element-actions actions-only"><a class="element-action element-action-fold"
                    href="#"><i class="os-icon os-icon-minus-circle"></i></a></div>
            <h6 class="element-header">Exam History</h6>
            <div class="element-box-tp">
                <table class="table table-compact smaller text-faded mb-0">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th class="text-center">Marks Obtain</th>
                            <th class="text-center">Max Marks</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
<!--                    {%for m in maths%}-->
<!--                        {{m}}-->
<!--                    {%endfor%}-->
                    {%for exam in exams%}
                        <tr>
                            <td>{{exam.subject.subject}}</td>
                            <td class="text-center text-danger">{{exam.marks_opt}}</td>
                            <td class="text-center text-bright">{{exam.subject.max_marks}}</td>
                            {% if exam.marks_opt == exam.subject.min_marks %}
                                <td class="text-center">
                                    <span class="status-pill bigger yellow"></span>
                                </td>
                            {%elif exam.marks_opt > exam.subject.min_marks or exam.marks_opt == exam.subject.max_marks%}
                                <td class="text-center">
                                    <span class="status-pill bigger green"></span>
                                </td>
                            {%else%}
                                <td class="text-center">
                                    <span class="status-pill bigger red"></span>
                                </td>
                            {%endif%}
                        </tr>
                    {%endfor%}
                    </tbody>
                </table><a class="centered-load-more-link smaller" href="#"><span>Load More
                        Exams</span></a>
            </div>
        </div>
        <div class="element-wrapper compact">
            <div class="element-actions actions-only"><a class="element-action element-action-fold"
                    href="#"><i class="os-icon os-icon-minus-circle"></i></a></div>
            <h6 class="element-header">Profile Completion</h6>
            <div class="element-box-tp">
                <div class="fancy-progress-with-label">
                    <div class="fpl-label">65%</div>
                    <div class="fpl-progress-w">
                        <div class="fpl-progress-i" style="width: 65%;"></div>
                    </div>
                </div>
<!--                <div class="todo-list"><a class="todo-item complete" href="#">-->
<!--                        <div class="ti-info">-->
<!--                            <div class="ti-header">Connect Bank Account</div>-->
<!--                            <div class="ti-sub-header">You have connected 2 accounts</div>-->
<!--                        </div>-->
<!--                        <div class="ti-icon"><i class="os-icon os-icon-check"></i></div>-->
<!--                    </a><a class="todo-item complete" href="#">-->
<!--                        <div class="ti-info">-->
<!--                            <div class="ti-header">Upload Tax Documents</div>-->
<!--                            <div class="ti-sub-header">You uploaded W-2 and 1099</div>-->
<!--                        </div>-->
<!--                        <div class="ti-icon"><i class="os-icon os-icon-check"></i></div>-->
<!--                    </a><a class="todo-item" href="#">-->
<!--                        <div class="ti-info">-->
<!--                            <div class="ti-header">Deposit Money</div>-->
<!--                            <div class="ti-sub-header">You can deposit from your bank</div>-->
<!--                        </div>-->
<!--                        <div class="ti-icon"><i class="os-icon os-icon-arrow-right7"></i></div>-->
<!--                    </a></div>-->
            </div>
        </div>
        <div class="d-xxl-none">
            <div class="cta-w orange text-center">
                <div class="cta-content extra-padded">
                    <div class="highlight-header">Bonus</div>
                    <h5 class="cta-header">Invite your friends and make money with referrals</h5>
                    <form action="#">
                        <div class="newsletter-field-w"><input placeholder="Email address..."><button
                                class="btn btn-sm btn-primary">Send</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
</div>

{% endblock %}
