{% extends "layout.html" %}
{% block content%}

<div class="content-i">
    <div class="content-box">
        <div class="row pt-4">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <h6 class="element-header">Current Semester Exam Details</h6>
                    <div class="element-content">
                        <div class="tablo-with-chart">
                            <div class="row">
                                <div class="col-sm-5 col-xxl-4">
                                    <div class="tablos">
                                        <div class="row mb-xl-2 mb-xxl-3">
                                            <div class="col-sm-6" ><a
                                                    class="element-box el-tablo centered trend-in-corner padded bold-label">
                                                    <div class="value">{{exams.count()}}</div>
                                                    <div class="label">Total Subjects</div>
<!--                                                    <div class="trending trending-up-basic">-->
<!--                                                        <span>12%</span><i-->
<!--                                                            class="os-icon os-icon-arrow-up2"></i></div>-->
                                                </a></div>
                                            <div class="col-sm-6"><a
                                                    class="element-box el-tablo centered trend-in-corner padded bold-label">
                                                    <div class="value">{{a}}</div>
                                                    <div class="label">Passed Subject</div>
<!--                                                    <div class="trending trending-down-basic">-->
<!--                                                        <span>12%</span><i-->
<!--                                                            class="os-icon os-icon-arrow-down"></i>-->
<!--                                                    </div>-->
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"><a
                                                    class="element-box el-tablo centered trend-in-corner padded bold-label">
                                                    <div class="value">{{exams.count() - a}}</div>
                                                    <div class="label">Failed Subject</div>
<!--                                                    <div class="trending trending-down-basic">-->
<!--                                                        <span>12%</span><i-->
<!--                                                            class="os-icon os-icon-arrow-down"></i>-->
<!--                                                    </div>-->
                                                </a></div>
                                            <div class="col-sm-6"><a
                                                    class="element-box el-tablo centered trend-in-corner padded bold-label">
                                                    <div class="value">{{t}}</div>
                                                    <div class="label">Total Marks</div>
<!--                                                    <div class="trending trending-up-basic">-->
<!--                                                        <span>12%</span><i-->
<!--                                                            class="os-icon os-icon-arrow-up2"></i></div>-->
                                                </a></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12"><a
                                                    class="element-box el-tablo centered trend-in-corner bold-label">
                                                <div class="label">Total Marks <h1>{{t}}/{{mm}}</h1>
                                                    </div>
                                                </a></div>
                                            <div class="col-sm-12"><a
                                                    class="element-box el-tablo centered trend-in-corner bold-label">
                                                    <div class="label">Total Marks {%if exams.count() -a == 0%}<h2 style="color: #24b314;">Pass : {{perc}}%</h2>{%else%}<h2 style="color: #e65252;">Fail</h2>{%endif%}
                                                    </div>
                                                </a></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xxl-8">
                                    <div class="element-box pl-xxl-5 pr-xxl-5">
                                        <div class="el-tablo bigger highlight bold-label">
<!--                                            <div class="value">{{t}}/{{mm}}</div>-->
                                            <div class="label"><h5>Total Marks Graph</h5></div>
                                        </div>
                                            <div class="el-chart-w">
                                                <embed type="image/svg+xml" src= {{ barchart_data|safe }} style="width:100%" />
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-sm-12">
                {%for exam1 in subj%}
                <div class="element-wrapper">
                    <h6 class="element-header">{{exam1}}</h6>
                    <div class="element-box-tp">
                        <div class="table-responsive">
                            <table class="table table-padded">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Subject</th>
                                        <th class="text-center">Marks Obtain</th>
                                        <th class="text-center">Min marks</th>
                                        <th class="text-center">Max Marks</th>
                                        <th>Standard</th>
                                        <th>Institution Name</th>
                                        {%if exam1[0:3] == student.standard or exam1[0:4] == student.standard%}
                                        <th>Actions</th>
                                        {%endif%}
                                    </tr>
                                </thead>
                                <tbody>
                                {%for exam in exams2%}
                                    {%if exam.exam_name == exam1%}
                                    <tr>
                                        <td class="text-center"><input class="form-control"
                                                type="checkbox"></td>
                                        <td><span>{{exam.subject.subject}}</span></td>
                                        {% if exam.marks_opt | int  == exam.subject.min_marks | int %}
                                        <td class="text-center"><a class="badge badge-warning"
                                                href="#">{{exam.marks_opt}}</a></td>
                                        {%elif exam.marks_opt | int > exam.subject.min_marks | int or exam.marks_opt | int == exam.subject.max_marks | int %}
                                        <td class="text-center"><a class="badge badge-success"
                                                href="#">{{exam.marks_opt}}</a></td>
                                        {%else%}
                                        <td class="text-center"><a class="badge badge-danger"
                                                href="#">{{exam.marks_opt}}</a></td>
                                        {%endif%}
                                        <td class="text-center">{{exam.subject.min_marks}}</td>
                                        <td class="text-center">{{exam.subject.max_marks}}</td>
                                        <td class="text-center">{{exam.standard}}</td>
                                        <td class="text-center">{{exam.institution_name}}</td>
                                        {%if exam.standard == student.standard%}
                                        <td class="row-actions">
                                            <a class="danger" href="#" data-target="#onboardingTextModal{{exam.id}}"
                                        data-toggle="modal"><i class="os-icon os-icon-ui-15"></i></a>
                                        </td>
                                        {%endif%}
                                    </tr>
                                <div aria-hidden="true" class="onboarding-modal modal fade animated"
                                    id="onboardingTextModal{{exam.id}}" role="dialog" tabindex="-1">
                                    <div class="modal-dialog modal-centered" role="document">
                                        <div class="modal-content text-center"><button aria-label="Close"
                                                class="close" data-dismiss="modal" type="button"><span
                                                    class="close-label">Skip</span><span
                                                    class="os-icon os-icon-close"></span></button>
                                            <div class="onboarding-media"><img alt="" src="img/bigicon2.png"
                                                    width="200px"></div>
                                            <div class="onboarding-content with-gradient">
                                                <h4 class="onboarding-title">Delete {{exam.standard}} Standard Exam For<br> {{student.fname}} {{student.lname}}</h4>
                                                <h5>Subject : {{exam.subject.subject}}</h5>
                                                <h5>Marks obtain : {{exam.marks_opt}}</h5>
                                                <h5>Maximum Marks : {{exam.subject.max_marks}}</h5>
                                                <div>
                                                    <a class="btn btn-danger btn-block btn-lg pb-3" href="{{url_for('delete_exam',exam_id=exam.id)}}" style="color:#fff"><i
                                                                        class="os-icon os-icon-ui-15" style="font-size: 25px;"></i><span>Delete Student</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>



<div class="content-box">

</div>
{% endblock %}